}
li{
	border: none;
	color: #F1FAEE{}
	.navigationBar{
		text-align: left;
		border-color: 
		border-bottom-width: 2px;
		border-style: none;
	}
	p{
		border: #000000 50px solid;
		border-image-source: marques.jpg
		text-align: justify;

	}